.highlight {
    color: lightseagreen;
}
.coin-info{
    align-self: center;
    flex: .8;
}
.coin-info-header{
    padding: 1em;
}

@media screen and (min-width: 800px){
    .coin-info {
        flex: .7;
    }
}



